<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Check Out BookIt, <%= @invitee %></h1>
    <div><%=@name %></div>
    <p>Check out https://book-it.herokuapp.com/ and join a book club with me!</p>
    <p>See you there and have a great day!</p>
  </body>
</html>