<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Check Out BookIt, <%= @invitee %>!</h1>
    <%if @message%>
      <p>message: <%= @message%></p>
    <% end %>
    <p>Check out https://book-it.herokuapp.com/ and join a book club with me!</p>
    <p>See you there and have a great day!</p>
  </body>
</html>